    /*
    Flaticon icon font: Flaticon
    Creation date: 13/09/2016 17:01
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-car-rides:before { content: "\f100"; }
.flaticon-companionship:before { content: "\f101"; }
.flaticon-cooking:before { content: "\f102"; }
.flaticon-dishes:before { content: "\f103"; }
.flaticon-electronics:before { content: "\f104"; }
.flaticon-gardening:before { content: "\f105"; }
.flaticon-groceries:before { content: "\f106"; }
.flaticon-handyman:before { content: "\f107"; }
.flaticon-heavy-lifting:before { content: "\f108"; }
.flaticon-hobby-companion:before { content: "\f109"; }
.flaticon-house-cleaning:before { content: "\f10a"; }
.flaticon-item-pickup:before { content: "\f10b"; }
.flaticon-laundry:before { content: "\f10c"; }
.flaticon-organize:before { content: "\f10d"; }
.flaticon-research:before { content: "\f10e"; }
    
    $font-Flaticon-car-rides: "\f100";
    $font-Flaticon-companionship: "\f101";
    $font-Flaticon-cooking: "\f102";
    $font-Flaticon-dishes: "\f103";
    $font-Flaticon-electronics: "\f104";
    $font-Flaticon-gardening: "\f105";
    $font-Flaticon-groceries: "\f106";
    $font-Flaticon-handyman: "\f107";
    $font-Flaticon-heavy-lifting: "\f108";
    $font-Flaticon-hobby-companion: "\f109";
    $font-Flaticon-house-cleaning: "\f10a";
    $font-Flaticon-item-pickup: "\f10b";
    $font-Flaticon-laundry: "\f10c";
    $font-Flaticon-organize: "\f10d";
    $font-Flaticon-research: "\f10e";